{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parser": "@typescript-eslint/parser",

  ignorePatterns: ['.eslintrc.js'],

  "parserOptions": {
    "ecmaVersion": "latest",
    tsconfigRootDir: __dirname,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts",
          ".js",
          ".json"
        ]
      }
    },
    "import/extensions": [
      ".js",
      ".ts"
    ]
  },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ]
  }
}